.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    .tabs ul {
        flex-direction: column;
        width: 100%;
        max-width: 540px;
        padding: 0 32px;
    }
}

.tabs li {
    width: 243px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(73, 93, 207, 0.20);
}

@media screen and (max-width: 768px) {
    .tabs li {
        width: 100%;
    }

    .tabs li:first-of-type {
        border-top: 1px solid rgba(73, 93, 207, 0.20);
    }
}

.tabs li:hover a {
    color: var(--soft-red);
}

@media screen and (max-width: 768px) {
    .tabs li:hover a {
        color: unset;
    }
}

.tabs li:has(.active) {
    position: relative;
    border-bottom: 4px solid var(--soft-red);
}

@media screen and (max-width: 768px) {
    .tabs li:has(.active) {
        border-bottom: 1px solid rgba(73, 93, 207, 0.20);
    }

    .tabs li:has(.active)::after {
        content: "";
        background: var(--soft-red);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        height: 4px;
        width: 46%;
    }
}

.tabs a {
    padding-bottom: 31px;
    color: var(--very-dark-blue);
    text-align: center;
    font-size: 1rem;
    line-height: 1.0625rem;
    letter-spacing: 0.03331rem;
    opacity: .75;
    text-decoration: none;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .tabs a {
        padding: 21px 0;
    }
}

.tabs a.active {
    opacity: 1;
}