.faqs {
    margin-top: 149px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .faqs {
        margin-top: 140px;
    }
}

.faqs article {
    max-width: 540px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .faqs article {
        padding: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .faqs h2 {
        line-height: 1.875rem;
        letter-spacing: -0.00469rem;
        margin-bottom: 16px;
    }
}

.faqs footer {
    margin-top: unset;
}

.faqs-container {
    width: 100%;
    max-width: 540px;
    margin: 56px auto 0 auto;
}

@media screen and (max-width: 768px) {
    .faqs-container {
        padding: 64px 32px 0 32px;
    }
}

.faqs button {
    margin: 54px auto 0 auto;
}

@media screen and (max-width: 768px) {
    .faqs button {
        margin: 48px auto 0 auto;
    }
}