.feature-container {
    margin-top: 72px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .feature-container {
        flex-direction: column;
        gap: 32px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.feature-container .image-wrapper,
.feature-container article {
    width: 50%;
    animation-name: show;
    animation-duration: 2s;
}

@media screen and (max-width: 768px) {

    .feature-container .image-wrapper,
    .feature-container article {
        width: 100%;
    }
}

.feature-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}