/* Wrapper */

.intro .image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 720 / 484;
    max-height: 484px;
}

@media screen and (max-width: 768px) {
    .intro .image-wrapper {
        aspect-ratio: 375 / 253;
        max-height: 400px;
    }
}

.feature-container .image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 720 / 435;
    max-height: 420px;
}

/* Image */

.intro .image-wrapper img {
    position: absolute;
    top: -10px;
    left: -33px;
    width: 90%;
    max-width: 574.23px;
}

@media screen and (max-width: 768px) {
    .intro .image-wrapper img {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }
}

.feature-container .image-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    width: 76%;
    max-width: 547px;
    aspect-ratio: auto;
}

@media screen and (max-width: 768px) {
    .feature-container .image-wrapper img {
        position: relative;
        right: unset;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: auto;
        padding: 0 32px;
    }
}

/* Background shape */

.intro .image-wrapper .background-shape {
    position: absolute;
    left: 21%;
    bottom: 0;
    z-index: -5;
    width: 1500px;
    height: 73%;
    border-radius: 316.5px;
    background-color: var(--soft-blue);
}

@media screen and (max-width: 768px) {
    .intro .image-wrapper .background-shape {
        position: absolute;
        left: 19%;
        bottom: 0;
        z-index: -5;
        width: 1500px;
        height: 80%;
        border-radius: 316.5px;
        background-color: var(--soft-blue);
    }
}

.feature-container .image-wrapper .background-shape {
    position: absolute;
    right: 9%;
    top: 50px;
    z-index: -5;
    width: 1500px;
    height: 81%;
    aspect-ratio: 1500 / 290;
    border-radius: 316.5px;
    background-color: var(--soft-blue);
}

@media screen and (max-width: 768px) {
    .feature-container .image-wrapper .background-shape {
        right: 18vw;
        height: 86%;
    }
}